<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/leaderboard.css">
</head>
<body>
    <div class="container">
        <h2>Leaderboard - Top Elo Players</h2>
        
        <div class="table-container">
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Avatar</th>
                        <th>Username</th>
                        <th>Elo</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $player := .TopPlayers}}
                    <tr>
                        <td class="rank">{{ add $index 1}}</td>
                        <td class="avatar-cell">
                            <a href="/profile/{{$player.Id}}" class="avatar-link">
                                <img class="avatar" src="{{$player.AvatarURL}}" alt="{{$player.UserName}} Avatar">
                            </a>
                        </td>
                        <td class="username-cell">
                            <a href="/profile/{{$player.Id}}" class="username-link">{{$player.UserName}}</a>
                        </td>
                        <td class="elo">{{$player.Elo}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        
        <div class="back-link">
            <a href="/" class="btn btn-outline">Back to home</a>
        </div>
    </div>
</body>
</html>
