<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-success  text-center"><span class="fa fa-user"></span> Profile Information</h1>
          <div class="row">
            <div class="col-sm-6">
                <div class="well">
                        <p>
                            <a href="/logout/{{.Provider}}">Logout</a><br><br>
                            <strong>Id</strong>: {{.UserID}}<br>
                            <strong>Email</strong>: {{.Email}}<br>
                            <strong>Name</strong>: {{.Name}}<br>
                            <strong>FirstName</strong>: {{.FirstName}}<br>
                            <strong>LastName</strong>: {{.LastName}}<br>
                            <strong>NickName</strong>: {{.NickName}}<br>
                            <strong>Location</strong>: {{.Location}}<br>
                            <strong>AvatarURL</strong>: {{.AvatarURL}}<br>
                            <strong>AccessToken</strong>: {{.AccessToken}}<br>
                            <strong>ExpiresAt</strong>: {{.ExpiresAt}}<br>
                            <strong>RefreshToken</strong>: {{.RefreshToken}}<br>
                        </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
